@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

#container-home {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif ;
    font-weight: 700;

}

#carrosel1 {
    margin-top: 32px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto auto;
    background-color: #F5F5F5;
}

.text-carrosel1 {
    margin-left: 50px;
    gap: 20px;
    width: 95%;
}

.text-carrosel1 span {
    font-size: 16px;
    color: #F6AA1C;
}

.text-carrosel1 h2 {
    font-size: 55px;
    font-weight: 800;
    color: #1F1F1F;
}

.text-carrosel1 p {
    font-size: 18px;
    font-weight: 400;
    color: #474747;
}

.text-carrosel1 button {
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    width: 214px;
    height: 48px;
    background-color: #C92071;
    color: #F5F5F5;
    font-weight: 700;

}

.text-carrosel1 button:hover {
    background-color: #9b1254;
}

#image1 {
    margin: 80px 80px 0 0;
    width: 634px;
    height: 432px;
}


#componet2-home {
    margin: 38px 0 0 50px;
}

#componet2-home h2{
    font-size: 24px;
    color:#474747;
}

#cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin: 20px 0 100px 0;

}

.card{
    display:grid;
    grid-template-columns: auto auto;
    background-color: #D8E3F2;
    width: 30vw;
    height: 45vh;
    border-radius: 8px; 
}

.text-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 34px 0 0 30px;
    gap: 20px;
}

.text-card button {
    cursor: pointer;
    width: 153px;
    height: 48px;
    color: #C92071;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
}

.text-card button:hover {
    color: #9b1254;
}

.text-card p {
    text-align: center;
    padding-top: 8px;
    width: 96px;
    height: 32px;
    border-radius: 29px;
    background-color: #E7FF86;
    color: #474747;
    font-size: 14px;
}

.text-card span{
    color: #1F1F1F;
    font-size: 32px;
    width: 182px; 
}

.card img{
    width: 155px;
    height: 220px;
    margin-top: 50px;   
    margin-right: 50px;

}

#componet3-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#componet3-home h2{
    font-size: 24px;
    color: #474747;
    margin-bottom: 20px;
}

.tipo-colecao{
    display: flex;
    gap: 48px;
}

.tipo-colecao span{
    margin-top: 12px;
    font-size: 14px;
    color: #474747;
}

.colecao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-colecao{
    width: 64px;
    height: 64px;
    color:#8F8F8F;
    cursor: pointer;
}

.icon-colecao:hover{
    color: #C92071;
}

.borda{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 104px;
    height: 104px;
    border-radius: 100%;
    background-color:#FFFFFF ;
}

.borda:hover{
    filter: drop-shadow(0px 0px 12px   rgb(217, 216, 216) );
    cursor: pointer;

}

#text-header-card {
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 123px 0 0 50px;
}

#text-header-card h2 {
    font-size: 24px;
    color: #474747;
}

#text-header-card a {
    cursor: pointer;
    font-size: 18px;
    color: #C92071;
    font-weight: 400;
}

#card-home{
    margin-bottom: 108px;
}

.card-home{
    display: grid;
    grid-template-columns: auto auto;
    gap: 28px;
    margin-left: 50px;
}