
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container_footer{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-gray);
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

#footer{
   
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 23px;
    
}

#componet-footer1{
    margin-top: 70px;

}

#componet-footer1 p{
   font-size: 16px;
   width: 20vw;
   margin-top: 35px;
   
} 

.icons{
    margin: 40px 8px 0 0;
    width: 20px;
    height: 20px;
}

.icons:hover{
   color:var(--primary);
}

.componet_footer2{
    margin-top: 70px;
    width: 19vw;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap:20px
}

.componet_footer2 a:hover{
   color:var(--primary) !important;
}

.final{
    text-align: center;
    width: 100%;
    margin:23px 0 23px 0 ;
}
