#card-container{
    margin-top:123px ;

}

#text-header-card{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
}

#text-header-card h2{
    font-size: 24px;
    color:#474747;
}

#text-header-card a {
    cursor: pointer;
    font-size: 18px;
    color: #C92071;
}

#card-prod-container{
    margin-top: 20px;
}

.card-prod{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 20px;
}

.card-part1{
    background-color:#FFFFFF ;
    width: 292px;
    height: 321px;
    filter: drop-shadow(0px 0px 8px   rgb(217, 216, 216) );
    align-items: left;
}

.card-part1 span{
    background-color: #E7FF86;
    padding: 5px;
    border-radius: 29px;
}



